/* Sidebar.css */
.sidebar {
    width: 240px;
    height: 100vh;
    /* Full viewport height */
    transition: width 0.3s;
    position: relative;
}

.sidebar.minimized {
    width: 60px;
}

.toggle-button {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
}